* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

.head {
  background-color: #7ed956;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 260%;
}

.logo {
  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
}

.menu-link {
  display: flex;
  gap: 20px;
}

.menu-box-1,
.menu-box-2 {
  padding: 8px 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  cursor: pointer;
}

.sidebar-content {
  display: flex;
  flex: 1;
  gap: 20px;
  width: 260%;
  height: 60%;
}

.sidebar {
  width: 280px;
  background-color: #a855f7;
  border-radius: 16px;
  padding: 20px;
}

.box-aside {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  height: 200px;
}

.content {
  flex: 1;
  background-color: #ef4444;
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.box-2 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
}
